[submodule "libpdfviewer"]
	path = libpdfviewer
	url = https://github.com/hardcore-sushi/libpdfviewer.git
[submodule "app/ffmpeg/ffmpeg"]
	path = app/ffmpeg/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
