[submodule "app/libgocryptfs"]
	path = app/libgocryptfs
	url = https://github.com/miron404/libgocryptfs.git
[submodule "libpdfviewer"]
	path = libpdfviewer
	url = https://github.com/hardcore-sushi/libpdfviewer.git
[submodule "app/libcryfs"]
	path = app/libcryfs
	url = https://github.com/hardcore-sushi/libcryfs.git
[submodule "app/ffmpeg/ffmpeg"]
	path = app/ffmpeg/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
