[submodule "libpdfviewer"]
	path = libpdfviewer
	url = https://forge.chapril.org/hardcoresushi/libpdfviewer.git
[submodule "app/ffmpeg/ffmpeg"]
	path = app/ffmpeg/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
